<div class="text-center mb-4">
  <img
    src="assets/logo.png"
    alt="logo"
    loading="lazy"
    width="70%"
  />
  <h3  style="padding-top: 20px;">Mamography</h3>
</div>
 
<form class="form-signin" (ngSubmit)="login()">
  <app-sppiner *ngIf="showSpinner"></app-sppiner> 
  <div class="form-label-group">

    <input
      type="text"
      id="userName"
      name="username"
      [(ngModel)]="username"
      class="form-control"
      placeholder="Username"
      required
      autofocus
    />
    <label for="userName">Kullanici</label>
  </div>
  <div class="form-label-group">
    <input
      type="password"
      id="inputPassword"
      name="password"
      [(ngModel)]="password"
      class="form-control"
      placeholder="Password"
      required
    />
    <label for="inputPassword">Şifre</label>
  </div>

  <!-- <div class="checkbox mb-3 text-danger" *ngIf="loginError">
    Login failed. Please try again.
  </div> -->
  <div style="text-align: center;">
    <button
    type="submit"
    class="btn btn-md btn-success btn-block"
    [disabled]="busy"
  >
    Giriş Yap
  </button>
  </div>


  
</form>
